[tool.poetry]
name = "axem-dem"
version = "0.1.1"
description = "Manager for Containerized Development Environments"
authors = ["janosmurai <murai.janos@gmail.com>"]
license = "Eclipse Public License - v2.0"
readme = "README.md"
packages = [{include = "dem"}]

[tool.poetry.scripts]
dem = "dem.__main__:main"

[tool.poetry.dependencies]
python = "^3.10"
docker = "6.1.2"
readchar = "4.0.5"
requests = "2.30.0"
rich = "13.3.5"
typer = "0.8.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.1.7"

[tool.poetry.group.test]

[tool.poetry.group.test.dependencies]
pytest = "^7.3.1"
mock = "^5.0.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
