/* Change the font size of the body text to 16px */
body {
	font-size: 16px;
}

/* Change the font size of all headings to 24px */
h1, h2, h3, h4, h5, h6 {
	font-size: 24px;
}
      
/* Change the font size of all paragraphs to 18px */
p {
	font-size: 20px;
}

a {
	font-size: 20px;
}

li {
	font-size: 20px;
}

label {
	font-size: 20px;
}

div {
	font-size: 20px;
}

@font-face {
	font-family: 'DarkerGrotesque-Medium';
	src: url(../Darker_Grotesque/DarkerGrotesque-Medium.ttf) format('truetype');
}

.center {
	display: block;
	margin: 0 auto;
}

:root {
	--md-admonition-icon--apple_support: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 30 36" xmlns="http://www.w3.org/2000/svg"><path d="M25.0549 19.09C25.1069 24.527 29.9459 26.336 29.9999 26.36C29.9599 26.487 29.2269 28.938 27.4499 31.47C25.9149 33.659 24.3199 35.84 21.8099 35.885C19.3429 35.929 18.5499 34.458 15.7299 34.458C12.9099 34.458 12.0279 35.84 9.6929 35.929C7.2699 36.019 5.42391 33.562 3.87591 31.381C0.711905 26.921 -1.70609 18.776 1.54091 13.278C3.15391 10.548 6.0359 8.818 9.1639 8.774C11.5439 8.73 13.7899 10.336 15.2449 10.336C16.6989 10.336 19.4289 8.405 22.2979 8.688C23.4989 8.738 26.8719 9.162 29.0369 12.253C28.8619 12.358 25.0129 14.544 25.0549 19.09ZM20.4199 5.737C21.7049 4.218 22.5699 2.104 22.3349 0C20.4799 0.073 18.2379 1.205 16.9079 2.723C15.7149 4.068 14.6709 6.219 14.9529 8.281C17.0199 8.437 19.1329 7.257 20.4199 5.737Z"/></svg>')

  }
  .md-typeset .admonition.apple_support,
  .md-typeset details.apple_support {
	border-color: #79A7B5;
  }
  .md-typeset .apple_support > .admonition-title,
  .md-typeset .apple_support > summary {
	background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .apple_support > .admonition-title::before,
  .md-typeset .apple_support > summary::before {
	background-color: #3a7283;
	-webkit-mask-image: var(--md-admonition-icon--apple_support);
			mask-image: var(--md-admonition-icon--apple_support);
}

:root {
	--md-admonition-icon--windows_support: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 41 40" xmlns="http://www.w3.org/2000/svg"><path d="M0 5.66335L16.3595 3.44405L16.367 19.1631L0.0150122 19.2556L0 5.66335ZM16.352 20.9745L16.3645 36.7073L0.0137612 34.468L0.0112591 20.8695L16.352 20.9745ZM18.3349 3.15256L40.0275 0V18.9629L18.3349 19.1343V3.15256ZM40.0325 21.1222L40.0275 40L18.3349 36.95L18.3049 21.0871L40.0325 21.1222Z"/></svg>')

  }
  .md-typeset .admonition.windows_support,
  .md-typeset details.windows_support {
	border-color: #79A7B5;
  }
  .md-typeset .windows_support > .admonition-title,
  .md-typeset .windows_support > summary {
	background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .windows_support > .admonition-title::before,
  .md-typeset .windows_support > summary::before {
	background-color: #3a7283;
	-webkit-mask-image: var(--md-admonition-icon--windows_support);
			mask-image: var(--md-admonition-icon--windows_support);
}

:root {
	--md-admonition-icon--linux_support: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 32 36" xmlns="http://www.w3.org/2000/svg"><path d="M31.1054 28.6523C30.1254 28.2723 29.3194 27.6723 29.3774 26.5223C29.4344 25.3753 28.5124 24.6153 28.5124 24.6153C28.5124 24.6153 29.3195 22.1023 28.5695 20.0283C27.8205 17.9503 25.3444 14.6223 23.4434 12.1113C21.5464 9.59834 23.1575 6.70334 21.4305 2.99234C19.7005 -0.718662 15.2104 -0.500662 12.7904 1.08234C10.3704 2.66434 11.1184 6.59434 11.2324 8.45434C11.3474 10.3083 11.2845 11.6293 11.0615 12.1093C10.8335 12.5893 9.27645 14.3503 8.23845 15.8233C7.20145 17.2963 6.45345 20.3553 5.70145 21.6103C4.95345 22.8663 5.47145 24.0123 5.47145 24.0123C5.47145 24.0123 4.95345 24.1743 4.54945 24.9973C4.14645 25.8133 3.34045 26.1963 1.90045 26.4663C0.460449 26.7383 0.460449 27.6163 0.805449 28.5983C1.15245 29.5793 0.807449 30.1283 0.403449 31.3813C0.000449289 32.6333 2.01645 33.0193 3.97345 33.2333C5.93345 33.4543 8.12145 34.6553 9.96645 34.8733C11.8064 35.0923 12.3844 33.6733 12.3844 33.6733C12.3844 33.6733 14.4574 33.2333 16.6444 33.1833C18.8344 33.1273 20.9044 33.6193 20.9044 33.6193C20.9044 33.6193 21.3074 34.4923 22.0564 34.8733C22.8064 35.2563 24.4185 35.3113 25.4555 34.2763C26.4935 33.2363 29.2574 31.9283 30.8114 31.1083C32.3704 30.2863 32.0854 29.0323 31.1054 28.6523ZM17.6264 4.57634C18.6144 4.57634 19.4114 5.50534 19.4114 6.64934C19.4114 7.46234 19.0115 8.16334 18.4275 8.50334C18.2785 8.44134 18.1225 8.37834 17.9555 8.31134C18.3075 8.14634 18.5574 7.72134 18.5574 7.22634C18.5574 6.58234 18.1364 6.05834 17.6154 6.05834C17.1014 6.05834 16.6784 6.58334 16.6784 7.22634C16.6784 7.46534 16.7384 7.69534 16.8414 7.88234C16.5344 7.76734 16.2514 7.65834 16.0304 7.57934C15.9048 7.28545 15.8404 6.96898 15.8414 6.64934C15.8414 5.50534 16.6394 4.57634 17.6264 4.57634ZM17.4984 8.94734C17.9924 9.10934 18.5414 9.41334 18.4844 9.71534C18.4254 10.0183 18.1664 10.0183 17.4984 10.4053C16.8284 10.7893 15.3794 11.6413 14.9164 11.6963C14.4494 11.7523 14.1894 11.5043 13.6964 11.2033C13.2024 10.9003 12.2734 10.1823 12.5074 9.79934C12.5074 9.79934 13.2304 9.27434 13.5484 8.99934C13.8684 8.72334 14.6814 8.06534 15.1754 8.15034C15.6694 8.23034 17.0054 8.78234 17.4984 8.94734ZM13.0474 4.90534C13.8254 4.90534 14.4584 5.78434 14.4584 6.86834C14.4584 7.06834 14.4384 7.25234 14.3984 7.43134C14.2084 7.49234 14.0154 7.59134 13.8284 7.74134C13.7404 7.80986 13.654 7.88055 13.5694 7.95334C13.6924 7.73334 13.7415 7.42234 13.6865 7.09334C13.5825 6.50134 13.1664 6.06934 12.7524 6.13034C12.3414 6.19834 12.0924 6.73034 12.1974 7.32634C12.3034 7.92134 12.7174 8.35334 13.1294 8.28934C13.1531 8.28476 13.1765 8.27875 13.1994 8.27134C12.9984 8.45434 12.8134 8.61134 12.6244 8.74534C12.0544 8.49434 11.6374 7.74934 11.6374 6.86734C11.6374 5.78234 12.2684 4.90534 13.0474 4.90534ZM11.5274 32.4913C11.3434 33.2743 10.3764 33.8423 10.3764 33.8423C9.49945 34.1033 7.06245 33.1023 5.95845 32.6623C4.85545 32.2283 2.04645 32.0933 1.67845 31.7063C1.31245 31.3113 1.86145 30.4393 2.00245 29.6133C2.13845 28.7803 1.72645 28.2593 1.86245 27.6913C2.00245 27.1253 3.79645 27.1253 4.48445 26.7343C5.17645 26.3393 5.31445 25.2053 5.86645 24.9013C6.41845 24.5933 7.42945 25.6843 7.84445 26.2973C8.25745 26.9053 9.82245 29.5243 10.4664 30.1783C11.1124 30.8323 11.7104 31.7083 11.5264 32.4913H11.5274ZM21.7125 24.8833C21.5465 25.6533 21.5464 28.4333 21.5464 28.4333C21.5464 28.4333 19.7615 30.7783 16.9935 31.1623C14.2295 31.5463 12.8464 31.2703 12.8464 31.2703L11.2924 29.5803C11.2924 29.5803 12.4994 29.4133 12.3284 28.2673C12.1544 27.1213 8.64345 25.5373 8.00845 24.1173C7.37745 22.6993 7.89445 20.2953 8.70145 19.0933C9.50745 17.8933 10.0235 15.2743 10.8305 14.3983C11.6375 13.5283 12.2684 11.6713 11.9804 10.8503C11.9804 10.8503 13.7084 12.8173 14.9164 12.4913C16.1254 12.1633 18.8365 10.2513 19.2365 10.5813C19.6385 10.9093 23.0945 18.1133 23.4375 20.4073C23.7845 22.6993 23.2064 24.4453 23.2064 24.4453C23.2064 24.4453 21.8835 24.1183 21.7125 24.8833ZM30.5525 30.0263C30.0135 30.4953 27.0204 31.6403 26.1224 32.5343C25.2304 33.4213 24.0645 34.1423 23.3505 33.9323C22.6325 33.7183 22.0064 32.7873 22.3204 31.4283C22.6324 30.0733 22.9024 28.5883 22.8584 27.7393C22.8134 26.8903 22.6324 25.7423 22.8584 25.5733C23.0814 25.4083 23.4375 25.4913 23.4375 25.4913C23.4375 25.4913 23.2615 27.1003 24.2885 27.5283C25.3155 27.9483 26.7934 27.3583 27.2414 26.9313C27.6914 26.5093 28.0044 25.8733 28.0044 25.8733C28.0044 25.8733 28.4505 26.0883 28.4065 26.7643C28.3615 27.4423 28.7175 28.4203 29.3925 28.7583C30.0615 29.0923 31.0905 29.5613 30.5525 30.0263Z"/></svg>')

  }
  .md-typeset .admonition.linux_support,
  .md-typeset details.linux_support {
	border-color: #79A7B5;
  }
  .md-typeset .linux_support > .admonition-title,
  .md-typeset .linux_support > summary {
	background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .linux_support > .admonition-title::before,
  .md-typeset .linux_support > summary::before {
	background-color: #3a7283;
	-webkit-mask-image: var(--md-admonition-icon--linux_support);
			mask-image: var(--md-admonition-icon--linux_support);
}