[data-md-color-scheme="axem_light"] {
  --md-primary-fg-color:               #214851;
  --md-accent-fg-color:                #277f97;
  --md-text-font:                       'DarkerGrotesque-SemiBold'; 

  --md-default-fg-color:               hsla(0, 0%, 0%, 0.87);
  --md-default-fg-color--light:        hsla(0, 0%, 0%, 0.54);
  --md-default-fg-color--lighter:      hsla(0, 0%, 0%, 0.32);
  --md-default-fg-color--lightest:     hsla(0, 0%, 0%, 0.07);
  --md-default-bg-color:               hsla(0, 0%, 100%, 1);
  --md-default-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
  --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);

  --md-code-fg-color:                  hsla(200, 18%, 26%, 1);
  --md-code-bg-color:                  hsla(0, 0%, 96%, 1);

  --md-code-hl-color:                  hsla(#{hex2hsl($clr-yellow-a200)}, 0.5);
  --md-code-hl-number-color:           hsla(0, 67%, 50%, 1);
  --md-code-hl-special-color:          hsla(340, 83%, 47%, 1);
  --md-code-hl-function-color:         hsla(291, 45%, 50%, 1);
  --md-code-hl-constant-color:         hsla(250, 63%, 60%, 1);
  --md-code-hl-keyword-color:          hsla(219, 54%, 51%, 1);
  --md-code-hl-string-color:           hsla(150, 63%, 30%, 1);
  --md-code-hl-name-color:             var(--md-code-fg-color);
  --md-code-hl-operator-color:         var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color:      var(--md-default-fg-color--light);
  --md-code-hl-comment-color:          var(--md-default-fg-color--light);
  --md-code-hl-generic-color:          var(--md-default-fg-color--light);
  --md-code-hl-variable-color:         var(--md-default-fg-color--light);

  --md-typeset-color:                  var(--md-default-fg-color);

  --md-typeset-a-color:                var(--md-primary-fg-color);

  --md-typeset-mark-color:             hsla(#{hex2hsl($clr-yellow-a200)}, 0.5);

  --md-typeset-del-color:              hsla(6, 90%, 60%, 0.15);
  --md-typeset-ins-color:              hsla(150, 90%, 44%, 0.15);

  --md-typeset-kbd-color:              hsla(0, 0%, 98%, 1);
  --md-typeset-kbd-accent-color:       hsla(0, 100%, 100%, 1);
  --md-typeset-kbd-border-color:       hsla(0, 0%, 72%, 1);

  --md-typeset-table-color:            hsla(0, 0%, 0%, 0.12);
  --md-typeset-table-color--light:     hsla(0, 0%, 0%, 0.035);

  --md-admonition-fg-color:            var(--md-default-fg-color);
  --md-admonition-bg-color:            var(--md-default-bg-color);

  --md-warning-fg-color:              hsla(0, 0%, 0%, 0.87);
  --md-warning-bg-color:              hsla(60, 100%, 80%, 1);

  --md-footer-fg-color:                hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light:         hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter:       hsla(0, 0%, 100%, 0.45);
  --md-footer-bg-color:                hsla(0, 0%, 0%, 0.87);
  --md-footer-bg-color--dark:          hsla(0, 0%, 0%, 0.32);

  --md-shadow-z1:
    0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.05),
    0 0              #{px2rem(1px)}  hsla(0, 0%, 0%, 0.1);

  --md-shadow-z2:
    0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.1),
    0 0              #{px2rem(1px)}  hsla(0, 0%, 0%, 0.25);

  --md-shadow-z3:
    0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.2),
    0 0              #{px2rem(1px)}  hsla(0, 0%, 0%, 0.35);
}

[data-md-color-scheme="axem_dark"] {
  --md-hue: 232;

  --md-primary-fg-color:               #8f64eb;
  --md-accent-fg-color:                #277f97;
  --md-text-font:                       'DarkerGrotesque-SemiBold'; 

  --md-default-fg-color:             hsla(var(--md-hue), 75%, 95%, 1);
  --md-default-fg-color--light:      hsla(var(--md-hue), 75%, 90%, 0.62);
  --md-default-fg-color--lighter:    hsla(var(--md-hue), 75%, 90%, 0.32);
  --md-default-fg-color--lightest:   hsla(var(--md-hue), 75%, 90%, 0.12);
  --md-default-bg-color:             hsla(var(--md-hue), 15%, 21%, 1);
  --md-default-bg-color--light:      hsla(var(--md-hue), 15%, 21%, 0.54);
  --md-default-bg-color--lighter:    hsla(var(--md-hue), 15%, 21%, 0.26);
  --md-default-bg-color--lightest:   hsla(var(--md-hue), 15%, 21%, 0.07);

  --md-code-fg-color:                hsla(var(--md-hue), 18%, 86%, 1);
  --md-code-bg-color:                hsla(var(--md-hue), 15%, 15%, 1);

  --md-code-hl-color:                hsla(#{hex2hsl($clr-blue-a200)}, 0.15);
  --md-code-hl-number-color:         hsla(6, 74%, 63%, 1);
  --md-code-hl-special-color:        hsla(340, 83%, 66%, 1);
  --md-code-hl-function-color:       hsla(291, 57%, 65%, 1);
  --md-code-hl-constant-color:       hsla(250, 62%, 70%, 1);
  --md-code-hl-keyword-color:        hsla(219, 66%, 64%, 1);
  --md-code-hl-string-color:         hsla(150, 58%, 44%, 1);
  --md-code-hl-name-color:           var(--md-code-fg-color);
  --md-code-hl-operator-color:       var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color:    var(--md-default-fg-color--light);
  --md-code-hl-comment-color:        var(--md-default-fg-color--light);
  --md-code-hl-generic-color:        var(--md-default-fg-color--light);
  --md-code-hl-variable-color:       var(--md-default-fg-color--light);

  --md-typeset-color:                var(--md-default-fg-color);

  --md-typeset-a-color:              var(--md-primary-fg-color);

  --md-typeset-mark-color:           hsla(#{hex2hsl($clr-blue-a200)}, 0.3);

  --md-typeset-kbd-color:            hsla(var(--md-hue), 15%, 94%, 0.12);
  --md-typeset-kbd-accent-color:     hsla(var(--md-hue), 15%, 94%, 0.2);
  --md-typeset-kbd-border-color:     hsla(var(--md-hue), 15%, 14%, 1);

  --md-typeset-table-color:          hsla(var(--md-hue), 75%, 95%, 0.12);
  --md-typeset-table-color--light:   hsla(var(--md-hue), 75%, 95%, 0.035);

  --md-admonition-fg-color:          var(--md-default-fg-color);
  --md-admonition-bg-color:          var(--md-default-bg-color);

  --md-footer-bg-color:              hsla(var(--md-hue), 15%, 12%, 0.87);
  --md-footer-bg-color--dark:        hsla(var(--md-hue), 15%, 10%, 1);

  --md-shadow-z1:
    0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.2),
    0 0              #{px2rem(1px)}  hsla(0, 0%, 0%, 0.1);

  --md-shadow-z2:
    0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.3),
    0 0              #{px2rem(1px)}  hsla(0, 0%, 0%, 0.25);

  --md-shadow-z3:
    0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.4),
    0 0              #{px2rem(1px)}  hsla(0, 0%, 0%, 0.35);

}