DevEnvSettingsWindow {
    layout: vertical;
}

.dev_env_settings_screen {
    layout: grid;
    grid-size: 2 3;
    grid-gutter: 1;
}

.tool_image_selector_container {
    layout: vertical;
    row-span: 2;
    height: 100%;
    border: solid white;
    background: #1d1d1d;
}

.search_input {
    height: auto;
}

.tool_image_selector {
    height: 1fr;
    background: #1d1d1d;
    border: hidden $accent;
}

.dev_env_status {
    row-span: 2;
    height: 100%;
    width: 100%;
    background: #1d1d1d;
    padding: 1;
    border: solid white;
}

.cancel_container {
    align: right middle;
}

.save_container {
    align: left middle;
}

ConfirmScreen {
    align: center middle;
}

#confirm_container {
    width: 80;
    height: 11;
    border: thick $background 80%;
    background: $surface;
    content-align: center middle;
}

#confirm_message {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

#confirm_buttons {
    layout: horizontal;
    align: center middle;
    content-align: center middle;
}

.confirm_screen_buttons {
    margin: 0 3;
}